<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>ianbull . com by irbull</title>

    <link rel="stylesheet" href="{{ site.path }}/stylesheets/styles.css">
    <link rel="stylesheet" href="{{ site.path }}/stylesheets/pygment_trac.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>ianbull . com</h1>

        <p class="view"><a href="about.html">About Me</a></p>
        <p class="view"><a href="https://twitter.com/irbull">My Twitter Feed</a></p>
        <p class="view"><a href="https://www.thebulls.ca">My Photos</a></p>
        <p class="view"><a href="https://github.com/irbull">My GitHub Profile</a></p>

      </header>
      <section>
      {{content}}
      </section>
      <footer>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="{{ site.path }}/javascripts/scale.fix.js"></script>
    
  </body>
</html>
